# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# specific types to ignore
*.d
*.o
*.cpp~
*.hpp~
*.xml

# specific folders to ignore
*.dSYM/
